

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
    color: #FFF;
}

.uk-navbar-nav>li>a, .uk-logo {
    color: #fff;
}
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li > a.uk-open,
.uk-logo:hover,
.uk-logo:focus{
  color: #fff;
  outline: none;
}
/* OnClick */
.uk-navbar-nav > li > a:active {
  color: #fff;
}
/* Active */
.uk-navbar-nav > li.uk-active > a {
  color: #fff;
}
/* Item
 ========================================================================== */
.uk-navbar-item {
  color: #fff;
}
.uk-navbar-nav>li:hover{
    background: rgba(0,0,0,0.1);
}
.uk-navbar-nav>li.uk-active>a {
    color: #FFF;
}

.uk-notification-message {
    background: #424242;
}


